@model IEnumerable<ResQ.Models.Request>
@{
    ViewBag.Title = "Мои вызовы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-4">

        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">@Html.ActionLink("Статистика сервиса", "Index", "User")</li>
            <li role="presentation" class="active">@Html.ActionLink("Мои вызовы", "MyCalls", "User")</li>
            <li role="presentation">@Html.ActionLink("Мои настройки", "MySettings", "User")</li>
        </ul>

    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr class="header">
                    <td><p>Id вызова</p></td>
                    <td><p>X</p></td>
                    <td><p>Y</p></td>
                    <td><p>Дата поступления</p></td>
                    <td><p>Дата обработки</p></td>
                    @*<td><p>Пожарная часть</p></td>*@
                </tr>
            </thead>
            <tbody id="tabledata">
                @foreach (ResQ.Models.Request x in Model)
                {
                    <tr>
                        <td><p>@x.ID</p></td>
                        <td><p>@x.Location.X</p></td>
                        <td><p>@x.Location.Y</p></td>
                        <td><p>@x.Date</p></td>
                        <td><p>@x.DateFinished</p></td>
                        @*<td><p>@x.FireStation.FireStationName</p></td>*@
                    </tr>
                }
            </tbody>
        </table>

        <div class="user-advertising">
            <a href="http://nure.ua" title="Начать рости">
                <img src="~/Resources/bann-rus.png" />
            </a>
        </div>
    </div>
</div>
